.place__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0;
    max-width: 484px;
    align-self: end;
}
@media screen and (max-width: 1024px) {
    .place__title  {
        max-width: 440px;
    }

}
@media screen and (max-width: 768px) {
    .place__title  {
        max-width: 340px;
        font-size: 42px;
        line-height: 46px;
    }

}