.places {
    padding: 0 148px 0;
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .places {
        padding: 0 48px 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
        padding: 0 24px 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .places {
        padding: 0;
    }
}