.footer__link-list-item {
    display: inline;
    padding-right: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}
.footer__link-list-item:last-of-type {
    padding-right: 0;
}
@media screen and (max-width: 320px) {
    .footer__link-list-item {
        padding-right: 0;
        padding-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
        display: block;
    }
}