.lead {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 984px;
    margin: 0 auto;
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .lead {
        max-width: 928px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead {
        max-width: 768px;
    }
}