.place__text {
    min-height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .place__text {
        min-height: 440px;
    }
}