.header__link {
text-decoration: none;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}
@media screen and (max-width: 320px) {
    .header__link {
        font-size: 18px;
        line-height: 24px;
    }
}