.place__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
    max-width: 484px;
    grid-column: 2;
    padding: 0 0 24px 0;
}
.place__paragraph:last-of-type {
    padding-bottom: 0;
}
@media screen and (max-width: 1024px) {
    .place__paragrap {
        max-width: 456px;
    }
}
@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
        line-height: 26px;
    }
}
@media screen and (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
        font-size: 16px;
        line-height: 26px;
        padding: 0 16px 24px 16px;
    }
}