.lead__image {
    max-width: 984px;
    max-height: 615px;
}
@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
    }
}
@media screen and (max-width: 768px) {
    .lead__image {
        max-width: 768px;
    }
}