.lead__image {
    max-width: 984px;
    max-height: 615px;
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .lead__image {
        max-width: 928px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__image {
        max-width: 768px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__image {
        max-width: 320px;
    }
}