.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1184px;
    min-height: 740px;
    background-position: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
    }
}