.lead__caption {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: start;
}
@media screen and (max-width: 768px) {
    .lead__caption {
        padding-left: 24px;
    }
}