.lead__caption {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: start;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__caption {
        padding-left: 24px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__caption {
        padding-left: 16px;
    }
}