.place {
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: 153px auto;
    grid-row-gap: 48px;
    grid-column-gap: 40px;
    min-height: 660px;
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .place {
        grid-template-columns: 440px 456px;
        grid-template-rows: 153px auto;
        grid-column-gap: 32px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 352px;
        grid-template-rows: 92px auto;
        grid-column-gap: 28px;
        min-height: 400px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .place {
        grid-template-columns: 320px;
        grid-template-rows: 35px 320px repeat(2, auto);
        grid-row-gap: 32px;
    }
}