.place {
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: 153px 230px 230px;
    grid-row-gap: 48px;
    grid-column-gap: 40px;
    min-height: 660px;
}
@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 456px;
        grid-template-rows: 153px 220px 220px;
        grid-row-gap: 48px;
        grid-column-gap: 32px;
        min-height: 660px;
    }
}
@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 340px 352px;
        grid-template-rows: 92px 220px 220px;
        grid-row-gap: 48px;
        grid-column-gap: 28px;
        min-height: 400px;
    }
}
@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: 320px;
        grid-template-rows: 35px 320px repeat(2, 260px);
        grid-row-gap: 32px;
    }
}