.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__website {
        display: none;
    }
}